* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  div.logo {
    display: flex;
    align-items: center;
    flex: 5 1 400px;
    margin-left: 2rem;
    img {
      width: 6vw;
      height: 6vw;
    }
  }
  nav {
    flex: 2 1 400px;
    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        a {
          color: #09777d;
          text-decoration: none;
          font-size: 1.35rem;
        }
      }
    }
  }
}

main {
  section.backImage {
    min-height: 90vh;
    width: 100%;
    background-image: url("../資源包/Pictures/pexels-photo-416676.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h3 {
      font-size: 3.5rem;
      color: white;
      margin: 2rem 0rem;
    }

    button.start {
      width: 200px;
      background-color: #93f4fb;
      color: black;
      font-size: 2rem;
      padding: 0.75rem 1rem;
      border: none;
      border-radius: 0.7rem;
      cursor: pointer;
    }

    div.filter {
      background-color: rgba(0, 0, 0, 0.2);
      width: 100%;
      min-height: 90vh;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }
}

@media screen and (max-width: 550px) {
  header {
    div.logo {
      margin-left: 0.5rem;
      img {
        width: 8vw;
        height: 8vw;
      }
    }
  }
}
