* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: white;
  box-shadow: 3px 3px 5px 1px rgb(109, 109, 109);

  div.logo {
    display: flex;
    align-items: center;
    flex: 5 1 400px;
    margin-left: 2rem;
    img {
      width: 6vw;
      height: 6vw;
    }
  }
  nav {
    flex: 2 1 400px;
    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        a {
          color: #09777d;
          text-decoration: none;
          font-size: 1.35rem;
        }
      }
    }
  }
}

main {
  section.backImage {
    min-height: 90vh;
    width: 100%;
    background-image: url("../資源包/Pictures/pexels-photo-416676.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h3 {
      font-size: 3.5rem;
      color: white;
      margin: 2rem 0rem;
    }

    button.start {
      width: 200px;
      background-color: #93f4fb;
      color: black;
      font-size: 2rem;
      padding: 0.75rem 1rem;
      border: none;
      border-radius: 0.7rem;
      cursor: pointer;
    }

    div.filter {
      background-color: rgba(0, 0, 0, 0.2);
      width: 100%;
      min-height: 90vh;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }

  section.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    h2 {
      font-size: 2rem;
      margin: 2rem 0rem;
    }

    section.cards {
      display: flex;
      width: 80%;
      min-height: 80vh;
      flex-wrap: wrap;

      div.card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
        flex: 1 1 300px;

        div.image-contrainer {
          overflow: hidden;
          width: 15vw;
          height: 15vw;
          border-radius: 50%;
          img {
            // margin: 1rem 0rem;
            width: 15vw;
            height: 15vw;
            border-radius: 50%;
            transition: all 0.2;
          }
          img:hover {
            transform: scale(1.2);
          }
        }

        h4 {
          font-size: 2rem;
          margin: 1rem 0rem;
        }

        p {
          font-size: 1.25rem;
        }

        a {
          margin: 1rem 0rem;
          text-decoration: none;
          padding: 1rem 1.5rem;
          background-color: #09777d;
          color: white;
          font-size: 1.25rem;
        }
      }
    }
  }
}

footer {
  background-color: #d7d7d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  justify-content: space-around;

  div.logo {
    display: flex;
    align-items: center;
    // margin: 1.5rem;
    img {
      width: 3vw;
      height: 3vw;
    }
  }

  nav {
    // margin-bottom: 2rem;
    width: 30%;
    ul {
      display: flex;
      list-style-type: none;
      width: 100%;
      justify-content: space-around;
      flex-wrap: wrap;
      li {
        a {
          color: black;
          font-size: 1.5rem;
          text-decoration: none;
          padding: 1rem;
        }
      }
    }
  }

  section.links {
    // padding-bottom: 1.5rem;
    a {
      margin: 0rem 1rem;
      img {
        width: 4vw;
        height: 4vw;
      }
    }
  }
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #09777d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(43, 200, 221);
}

@media screen and (max-width: 550px) {
  header {
    div.logo {
      margin-left: 0.5rem;
      img {
        width: 8vw;
        height: 8vw;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  main {
    section.second {
      section.cards {
        div.card {
          img {
            width: 40vw;
            height: 40vw;
          }
        }
      }
    }
  }
  footer {
    div.logo {
      img {
        width: 8vw;
        height: 8vw;
      }
    }
    section.links {
      margin-top: 1rem;
      a {
        img {
          width: 8vw;
          height: 8vw;
        }
      }
    }
  }
}
